* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    /* this is used because while using anchor tag the text inside it comes out in blue color . */
    font-family: "Poppins";
}

header{
    background-image: url('./assets/day.jpeg');
    height: 300px;
    background-size: cover;
    /* image fits in using this */
    background-position: center;
    /* this fixes its position at the center  */
}

/* footer styles  */

img.social{
    width: 20px;
    margin: 0px 10px;
}

footer{
    background-color: #f1f1f1;
    color: #4f4dde;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;      
    position: absolute;
    bottom: 0px;
    width: 100%;
}
